<%= provide(:title, "FAQ" ) %>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'plugins/faq'%>
<% end %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'plugins/faq' %>
<% end %>
<div class="row">

  <div class="row">
    <div class="span12">
      <div class="widget">

        <div class="widget-header">
          <i class="icon-pushpin"></i>
          <h3>Συχνές Ερωτήσεις</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

          <h3>Αναζήτηση</h3>

          <br />
          <ol class="faq-list">

            <li>
              <h4>Δεν μπορώ να συνδεθώ στο σύστημα (Γενικές)</h4>
              <p>Η σύνδεση γίνεται με το LDAP του ΤΕΙ και χρησιμοποιεί τα στοιχεία σας ( email, κωδικό για αυθεντικοποίηση ) που έχετε δώσει στο <a href="http://noc-portal.teilar.gr" target="_blank"> Κέντρο Δικτύου του ΤΕΙ.</a></br>
                Για οποιοδήποτε πρόβλημα στην σύνδεση σιγουρευτείτε</br></br>
                1. Ότι συμπληρώνετε σωστά τα στοιχεία σας</br>
                2. Ότι ο λογαριασμός σας στο ΤΕΙ είναι ενεργός (Επικοινωνήστε με το <a href="http://noc-portal.teilar.gr" target="_blank"> Κέντρο Δικτύου του ΤΕΙ.</a> )
              </p>

            </li>


            <li>
              <h4>Πώς αλλάζω τα στοιχεία μου (Φοιτητές)</h4>
              <p>1. Επιλέγετε το εικονίδιο<%= image_tag 'faq/user-arrow.png' %> την επάνω δεξιά γωνία</br>
                2. Επιλέγετε “Αλλαγή του προφίλ μου”</br></br>
                Φροντίστε τα στοιχεία που βάζετε (Τηλέφωνο , email) να ανταποκρίνονται σε πραγματικά στοιχεία
                ώστε ο καθηγητής να μπορεί να επικοινωνήσει ανά πάσα στιγμή μαζί σας.</br>
                Επίσης στο email σας θα έρθουν αυτοματοποιημένα email (όχι περισσότερα απο 2 τον χρόνο) με χρήσιμα
                στοιχεία για την ανάθεση της πτυχιακής σας.</br>
                Το τηλέφωνο και ο Αριθμός Μητρώου σας εμφανίζονται μόνο στους καθηγητές.
              </p>

            </li>

            <li>
              <h4>Πώς επιλέγω πτυχιακή εργασία; (Φοιτητές)</h4>
              <p><strong>Πρώτος τρόπος</strong><br>
                1. Απο το μενού επιλέγετε “Πτυχιακές” και αναζητάτε ανάμεσα στις “Διαθέσιμες πτυχιακές”</br>
                2. Αφού βρείτε την πτυχιακή που θέλετε την επιλέγετε (πατώντας κλικ επάνω στο όνομα της)
                και κάνετε <strong>“Εκδήλωση Ενδιαφέροντος”</strong>.
              </p>
              <p><strong>Δεύτερος τρόπος</strong><br>
                1. Απο το μενού επιλέγετε "Καθηγητές" και στην συνέχεια τον καθηγητή που θέλετε.</br>
                2. Στο μενού του καθηγητή επιλέγετε "θέματα πτυχιακών" και ακολουθείτε το δεύτερο βήμα που αναφέρθηκε παραπάνω.
              </p>
              <p><strong>ΠΡΟΣΟΧΗ</strong>: Δεν έχετε “κλειδώσει” το θέμα της πτυχιακής.
                Για να πάρετε το θέμα πρέπει να επικοινωνήσετε με τον καθηγητή.</p>
            </li>

            <li>

              <h4>Μπορώ να κάνω εκδήλωση ενδιαφέροντος σε πολλές πτυχιακές; (Φοιτητές)</h4>
              <p>Ναι, ωστόσο αν κάποιος καθηγητής σας δώσει ένα θέμα δεν μπορείτε να επιλέξετε άλλο.
              </p>
            </li>

            <li>
              <h4>Μπορώ να αλλάξω θέμα πτυχιακής; (Φοιτητές)</h4>
              <p>Μόνο ο καθηγητής μπορεί να σας αποδεσμεύσει απο την πτυχιακή.</br>
                Πρέπει να έρθετε σε επικοινωνία μαζί του, ώστε να σας <b>αφαιρέσει</b> απο την πτυχιακή (καθώς και να κάνετε τις όποιες ενέργειες για διακοπή της πτυχιακής στο τμήμα).
              </p>
            </li>


            <li>
              <h4>Είχα κάνει εκδήλωση ενδιαφέροντος αλλά η πτυχιακή δόθηκε σε άλλον. (Φοιτητές)</h4>

              <p>Ο καθηγητής βλέπει μία λίστα (με σειρά προτεραιότητας αυτού που δήλωσε πρώτος) με τους φοιτητές που ενδιαφέρονται για τα θέματα που έχουν αναρτήσει και επιλέγουν τον φοιτητή που θέλουν.
              </p>
              <p>Καλό είναι να επικοινωνείτε <b>όσο το δυνατόν συντομότερα</b> με τον καθηγητή για να εξασφαλίσετε ότι θα
                πάρετε εσείς το θέμα που σας ενδιαφέρει και όχι κάποιος άλλος.
              </p>
            </li>

            <li>

              <h4>Πώς καταχωρώ θέμα πτυχιακής; (Καθηγητές)</h4>
              <p>Απο το μενού επιλέγετε “Επιλογές --> Προσθήκη νέου θέματος”</p>

            </li>

            <li>
              <h4>Υπάρχει όριο θεμάτων που μπορώ να ανεβάσω; (Καθηγητές)</h4>
              <p>Ναι. Μπορείτε να ανεβάσετε μέχρι 10 πτυχιακές + άλλες 2 "Επιπλέον πτυχιακές" μόνο εάν συμπληρώσετε το όριο των 10. .</p>

            </li>

            <li>

              <h4>Πώς αναθέτω πτυχιακή σε φοιτητή/ες; (Καθηγητές)</h4>
              <p>Στο μενού “Επιλογές --> Dashboard” μπορείτε να δείτε ποιοι έχουν εκδηλώσει ενδιαφέρον για
                τα θέματα σας.</br>
                Μπορείτε να επιλέξετε <strong>το πολύ μέχρι 2 φοιτητές για μια πτυχιακή εργασία</strong>, και στην συνέχεια πατάτε ανάθεση (εικόνα).</br>
                <%= image_tag 'faq/chosen.png' %>
              </p>

            </li>

            <li>
              <h4>Πώς επεξεργάζομαι / διαγράφω / Αρχειοθετώ μία πτυχιακή; (Καθηγητές)</h4>
              <p>1. Επιλέγετε απο το μενού “Επιλογές --> Dashboard”</br>
                2. Σε κάθε πτυχιακή που σας εμφανίζεται υπάρχει ένα εικονίδιο <%= image_tag 'faq/arrow.png' %>
                κάνοντας κλίκ επάνω του εμφανίζονται όλες οι διαθέσιμες ενέργειες.</p>
              <p><strong>Επεξεργασία πτυχιακής</strong><br>
                Μπορείτε να αλλάξετε τα στοιχεία (τίτλο, κείμενο κτλ) της πτυχιακής εργασίας.
              </p>
              <p><strong>Ολοκλήρωση & Αρχείο</strong><br>
                Όταν κάποιος φοιτητής ολοκληρώσει την πτυχιακή πρέπει να επιλέξετε “<em>Ολοκλήρωση και αρχειοθέτηση</em>”.<br>
                Έτσι ανοίγετε θέση ώστε να μπορείτε να ανεβάσετε νέες πτυχιακές.
              </p>
              <p><strong>Παράταση πτυχιακής</strong><br>
                Δίνετε στον φοιτητή/ες παράταση 6 μηνών για την ολοκλήρωση της πτυχιακής.</br>
                Μπορείτε να δώσετε μόνο μια παράταση ανά πτυχιακή εργασία.
              </p>
              <p><strong>Αφαίρεση φοιτητή</strong><br>
                Αφαιρείτε τον φοιτητή/ες απο την πτυχιακή εργασία.</br>
                Αυτό γίνετε αν ο φοιτητής θέλει να αλλάξει πτυχιακή, τελείωσε το χρονικό περιθώριο για να την παραδώσει κτλ.
              </p>
              <p><strong>Διαγραφή πτυχιακής</strong><br>
                Οριστική διαγραφή της πτυχιακής.</br>
                <strong>Προσοχή</strong> για να διαγράψετε πτυχιακή που έχει δοθεί σε φοιτητή πρέπει πρώτα να κάνετε "Αφαίρεση φοιτητή"
              </p>
            </li>

          </ol>


        </div> <!-- /widget-content -->

      </div> <!-- /widget -->

    </div> <!-- /spa12 -->

  </div> <!-- /row -->
</div>
