<% if defined? status
    @status = status
   end
%>
<%= form_for @project, url: projects_path(@project) , html: {id: "new-project", class: "form-horizontal"} do |project| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "πρόβλημα απαγόρευσε","προβλήματα απαγόρευσαν") %>  αυτό το θέμα να σωθεί:</h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <div class="control-group">
        <%= project.label :title, t('projects.title'), class: "control-label"  %>
        <div class="controls">
          <%= project.text_field :title, class: 'span6', required: "requires" %><br/>
        </div>
      </div>
      <div class="control-group">
        <%= project.label :professor_comments, 'Σχόλια καθηγητή', class: "control-label"  %>
        <div class="controls">
          <%= project.text_area :professor_comments, maxlength: 250, class: 'span6', placeholder: 'π.χ. Η πτυχιακή έχει δοθεί στον φοιτητή ...' %><br/>
          <p class="help-block"><em>Μέχρι 250 χαρακτήρες.</em></p>
        </div>
      </div>
      <div class="control-group">
        <%= project.label :description, t('projects.description'), class: "control-label"  %>
        <div class="controls">
          <%= project.cktext_area :description, :ckeditor => {:language => 'el-GR', :toolbar => 'mini'} %><br/>
        </div>
      </div>
      <div class="control-group">
        <%= project.label :skills_required, t('projects.skills_required'), class: "control-label"  %>
        <div class="controls">
          <%= project.text_field :skills_required,class: 'span5', placeholder: 'π.χ. Καλή γνώση CSS, PHP ...' %><br/>
        </div>
      </div>
      <div class="control-group">
        <%= project.label :keywords, t('projects.keywords'), class: "control-label" %>
        <div class="controls">
          <%= project.text_field :keywords,class: 'span5', placeholder: 'π.χ. Web Application, Arduino, Raspberry Pi ...' %><br/>
        </div>
      </div>

      <div class="form-actions right">
        <%= project.submit t("options.save"), class: "button btn btn-primary btn-large" %>
      </div>
    </fieldset>
<% end %>