<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Γεια σας κ.<%= @teacherInfo.user.last_name %></h3>
<p>
  Ο φοιτητής <strong><%= link_to "#{@studentInfo.user.first_name} #{@studentInfo.user.last_name}", profile_student_url(@studentInfo)  %></strong>  ,
  εκδήλωσε ενδιαφέρον για την πτυχιακή εργασία με θέμα :<strong><%= @projectInfo.title %>.</strong><br>
</p>
<p>
  <strong>Στοιχεία επικοινωνίας φοιτητή: </strong></br>
  Email Επικοινωνίας: <%= @studentInfo.email_communication %> | <%= @studentInfo.user.email %></br>
  Τηλέφωνο: <%= @studentInfo.phone %>
</p>
<p>Για περισσότερες ενέργειες μεταβείτε στο <%= link_to 'ThesisCs.teilar.gr ', root_url %> </p>
</body>
</html>