<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Γεια σου, <%= GreekNames.vocative(@studentInfo.user.first_name) %></h4>
<p>
  Ο καθηγητής κ.<strong><%= "#{@teacherInfo.user.last_name} #{@teacherInfo.user.first_name}" %></strong> σου ανέθεσε την πτυχιακή με θέμα <br/>
  <%= link_to @projectInfo.title, project_url(@projectInfo) %>
</p>
<p>
  <strong>Προσοχή:</strong> Πρέπει να συμπληρώσεις τα <%= link_to 'απαραίτητα έγγραφα', 'http://www.cs.teilar.gr/CS/Ptyxiakh.jsp' %> (αίτηση ανάθεσης πτυχιακής εργασίας) στην γραμματεία του τμήματος.
</p>
<p>
  Απαιτούμενη ημερομηνία ολοκλήρωσης έως: <%= @projectInfo.completion_date.strftime("%d/%m/%Y") %>. </br></br>
</p>
<p>
  <em>* Η ημερομηνία ενδέχεται να διαφέρει απο την πραγματική, αν η αίτηση προς το τμήμα έγινε σε
    διαφορετική ημερομηνία απο την ανάθεση του θέματος στο σύστημα ThesisCs.</em>
</p>
<p><%= link_to 'ThesisCs.teilar.gr', root_url %></p>
</body>
</html>