<div class="widget">
  <div class="widget widget-nopad">
    <div class="widget-header"> <i class="icon-bar-chart"></i>
      <h3> Στατιστικά στοιχεία ThesisCs </h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
      <div class="widget big-stats-container">
        <div class="widget-content">
          <div id="big_stats" class="cf">
            <div class="stat"> <i><%= image_tag 'university-images/stationery32.png', title: 'Αριθμός Διαθέσιμων Πτυχιακών' %></i> <span class="value"><%= @numberOfAvailableDissertations %></span> </div>
            <!-- .stat -->

            <div class="stat"><i><%= image_tag 'university-images/write32.png', title: 'Αριθμός Ενεργών Πτυχιακών' %></i> <span class="value"> <%= @numberOfActiveDissertations %> </span>  </div>
            <!-- .stat -->

            <div class="stat"> <i><%= image_tag 'university-images/verified32.png', title: 'Αριθμός Ολοκληρωμένων Πτυχιακών' %></i> <span class="value"><%= @numberOfCompletedDissertation %> </span> </div>
            <!-- .stat -->

            <div class="stat"> <i><%= image_tag 'university-images/male32.png', title: 'Εγγεγραμμένοι Φοιτητές' %></i> <span class="value"><%= @numberOfStudents %></span> </div>
            <!-- .stat -->
          </div>
        </div>
        <!-- /widget-content -->

      </div>
    </div>
  </div>
</div>