<div class="row">

  <div class="span6">
    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="icon-list-alt"></i>
        <h3> Στοιχεία του χρήστη <%= "#{@student.user.first_name} #{@student.user.last_name} "  %></h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <ul class="news-items">
        <li><h4></h4><%= "#{@student.user.first_name} #{@student.user.last_name} " %></li>
          <% if is_teacher_helper? || current_user.student == @student %>
            <li><h4>Αριθμός μητρώου:</h4> <%= "#{@student.am}" %></li>
            <li><h4>Τηλέφωνο:</h4> <%= "#{@student.phone}" %></li>
          <% end %>
          <li><h4>Email:</h4><%= "#{@student.user.email}" %></li>
          <li><h4>Σχολή - Τμήμα:</h4> <%= "#{@student.department}" %></li>
        </ul>
      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->


  </div>
  <!-- /span6 -->

  <div class="span6">
    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="icon-list-alt"></i>
        <h3> Γενικά </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <ul class="news-items">
          <% if is_teacher_helper? || is_student_helper? %>
              <% unless @given_project_to_student.empty? # Η πτυχιακή έχει δοθεί στον... %>
                  <li><div class="alert alert-info">Έχει αναλάβει πτυχιακή εργασία με θέμα <strong><%= link_to "#{@student.project_assignments.first.project.title}",project_path(@student.project_assignments.first.project)  %></strong> και
                    απαιτούμενη ημερομηνία παράδοσης <strong><%= @student.project_assignments.first.project.completion_date.strftime("%d-%m-%y") %></strong></div> </li>
                  <% if @student.dissertation_completed == true %>
                      <li>Έχει ολοκληρώση την πτυχιακή του εργασία. </li>
                  <% end %>
              <% else %>
                  <li><div class="alert alert-warning">Δεν έχει αναλάβει ακόμα πτυχιακή εργασία.</div> </li>
              <% end %>
          <% end %>
          <li><%= "Δεξιότητες: #{@student.skills}" %></li>
        </ul>
      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->


  </div>
  <!-- /span6 -->

</div>
<!-- /row -->
