<div class="widget widget-nopad ">
  <div class="widget-header"> <i class="icon-list-alt"></i>
    <h3> Πληροφορίες πτυχιακής εργασίας</h3>
  </div>
  <!-- /widget-header  -->
  <div class="widget-content min-height">
    <ul class="news-items">
      <li>

        <div class="news-item-detail">
          <div class="news-item-title">
            <% if is_teacher_helper? && (@currentProject.teacher == current_user.teacher) %>
                <%= render partial: 'share/thesis2/plugins/options_arrow', locals: {project: @currentProject,
                                                                                    deleteProject: true} %>
            <% end %>
            <h1><%= @currentProject.title %></h1></br>
            <div class="news-item-detail">
              <% if @currentProject.status == 'pending' %>
                  <span class="label label-info">Διαθέσιμη</span>
              <% elsif @currentProject.status == 'active' %>
                  <span class="label label-danger">μη διαθέσιμη</span>
              <%elsif @currentProject.status == 'completed' %>
                  <span class="label label-success">Ολοκληρωμένη</span>
              <% end %>
              <em><%= @currentProject.professor_comments %></em>
            </div>
            <br/>
          </div>
          <p class="news-item-preview"> <%= raw @currentProject.description  %> </p><br/>

          <p class="news-item-preview"><strong>Keywords:</strong> <%= @currentProject.keywords %> </p>
        </div>

      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>