<%= ajax_loadzone do %>
    <% @pendingProjects.each do |allProjects| %>
        <li>
          <div class="news-item-date">
            <span class="news-item-day"><%= allProjects.created_at.strftime("%d") %></span>
            <span class="news-item-month"><%= allProjects.created_at.strftime("%b") %></span>
            <span class="news-item-year"><%= allProjects.created_at.strftime("%Y") %></span>
          </div>
          <div class="news-item-detail">
            <% if allProjects.project_assignments.count >= 1 %>
                <i class="icon-bookmark" style="color:#b70005" title="Υπάρχει ενδιαφέρον από φοιτητές για το θέμα."> </i>
            <% end %>
            <%= link_to allProjects.title, project_path(allProjects.id), {class: "news-item-title"} %>
            <p class="news-item-preview"> <%= raw allProjects.description.truncate(150) %> </p>
          </div>
        </li>
    <% end %>
<% end %>

<%= ajax_links :section_id => "pendingProjectsPage" do %>
    <%= will_paginate @pendingProjects, param_name: 'pendingProjectsPage' %>
<% end %>