<div class="widget widget-nopad">
  <div class="widget-header"> <i class="icon-list-alt"></i>
    <h3> Γενικα </h3>
  </div>
  <!-- /widget-header  -->
  <div class="widget-content">
    <ul class="news-items">
      <li><span class="news-item-title">Επιβλέπων Καθηγητής: </span><%= link_to "#{@currentProject.teacher.user.first_name} #{@currentProject.teacher.user.last_name}",  profile_teacher_path(@currentProject.teacher) %></li>
      <li><span class="news-item-title">Ημερομηνία καταχώρησης: </span><%= @currentProject.created_at.strftime("%d/%m/%Y") %> </li>
      <li><span class="news-item-title">Απαιτούμενα προσόντα: </span><%= @currentProject.skills_required %></li>
      <% unless @given_project_to_students.empty? %>
          <li><span class="news-item-title">Έχει δοθεί παράταση; </span><%= @currentProject.prolongation ? 'Ναι' : 'Οχι' %></li>
          <li><span class="news-item-title">Ημερομηνία ανάθεσης: </span><%= @currentProject.start_date.strftime("%d/%m/%Y") %></li>
         <% if @currentProject.status == 'completed' %>
              <li><span class="news-item-title">Ημερομηνία ολοκλήρωσης: </span><%= @currentProject.completion_date.strftime("%d/%m/%Y") %></li>
         <% else %>
              <% if @currentProject.prolongation == false %>
                  <li><span class="news-item-title">Απαιτούμενη ημερομηνία ολοκλήρωσης έως: </span><%= @currentProject.completion_date.strftime("%d/%m/%Y") %></li>
                <% else %>
                  <li><span class="news-item-title">Ημερομηνια παράταση: </span><%= @currentProject.completion_date + 6.month %></li>
              <% end %>
         <% end %>
    <% end %>
    </ul>
  </div>
  <!-- /widget-content -->
</div>