<div class="row">
  <div class="span6">
    <div class="widget">
      <div class="widget widget-nopad">
        <div class="widget-header"> <i class="icon-bar-chart"></i>
          <h3> Στατιστικά στοιχεία ThesisCs </h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
          <div class="widget big-stats-container">
            <div class="widget-content">
              <div id="big_stats" class="cf">
                <div class="stat"> <i><%= image_tag 'university-images/stationery32.png' %></i> <span class="value"><%= @numberOfAvailableDissertations %></span> </div>
                <!-- .stat -->

                <div class="stat"><i><%= image_tag 'university-images/write32.png' %></i> <span class="value"> <%= @numberOfActiveDissertations %> </span>  </div>
                <!-- .stat -->

                <div class="stat"> <i><%= image_tag 'university-images/verified32.png' %></i> <span class="value"><%= @numberOfCompletedDissertation %> </span> </div>
                <!-- .stat -->

                <div class="stat"> <i><%= image_tag 'university-images/male32.png' %></i> <span class="value"><%= @numberOfStudents %></span> </div>
                <!-- .stat -->
              </div>
            </div>
            <!-- /widget-content -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="widget-header"> <i class="icon-bookmark"></i>
        <h3>Διαδικασία ανάθεσης θέματος </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <div class="shortcuts">
          <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-search"></i>
            <span class="shortcut-label">Αναζήτηση θέματος</span> </a>
          <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-check"></i>
            <span class="shortcut-label">Εκδήλωση ενδιαφέροντος </span> </a>
          <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-comments-alt"></i>
            <span class="shortcut-label">Επικοινωνία με τον καθηγητή</span> </a>
          <a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-ok"></i>
            <span class="shortcut-label">Ανάθεση πτυχιακής</span> </a>
        </div>
        <!-- /shortcuts -->
      </div>
      <!-- /widget-content -->
    </div>
  </div>
</div>
