<div class="row">
  <div class="span12">

    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="icon-list-alt"></i>
        <h3><span class="badge"><%= @completedProjects.count %></span> Ολοκληρωμένες πτυχιακές εργασίες</h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <ul class="news-items">
          <% @completedProjects.each do |row| %>
              <li>

                <div class="news-item-date">
                  <span class="news-item-day"><%= row.completion_date.strftime("%d") %></span>
                  <span class="news-item-month"><%= row.completion_date.strftime("%b") %></span>
                  <span class="news-item-year"><%= row.completion_date.strftime("%Y") %></span>
                </div>
                <div class="news-item-detail"><span class="label label-success">Ολοκληρωμένη</span>
                  <%= link_to row.title, project_path(row), class: 'news-item-title' %>
                  <p class="news-item-preview">
                    Ολοκληρώθηκε απο <%= plural_students_expressed_interest(row.id,true,false,'τον φοιτητή: ','τους φοιτητές: ') %>
                  <strong>
                    <% students = project_assignment_result(row.id,true)
                       students.each do |s| %>
                        <% if students.count == 1 %>
                            <%= students_list(s.student,true) %>
                        <% else %>
                            <%= students_list(s.student,true) %>
                        <% end %>
                    <% end %>
                  </strong><br/>
                  </p>
                </div>

              </li>
          <% end %>
        </ul>
      </div>
      <!-- /widget-content -->
    </div>
  </div>
</div>