<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><%= link_to 'ThesisCs', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <% if user_signed_in? %>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>  <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Το Προφίλ μου', is_teacher_helper? ? profile_teacher_path(current_user.teacher) : profile_student_path(current_user.student) %></li>
              <li><%= link_to 'Αλλαγή του Προφίλ μου', is_teacher_helper? ? edit_teacher_path(current_user.teacher) : edit_student_path(current_user.student)  %></li>

              <li><%= button_to 'Εξοδος', destroy_user_session_path, method: :delete  %></li>
            </ul>
          </li>
            <% else %>
                Σύνδεση
          <% end %>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="<%= 'active' if params[:controller] == 'welcome' %>">
          <%= link_to root_path do %>
               <i class="icon-dashboard"></i><span>Αρχική</span>
            <% end %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'projects' %>">
          <%= link_to projects_path do %>
              <i class="icon-list-alt"></i><span>Πτυχιακές</span>
          <% end %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'teachers' %>">
          <%= link_to teachers_path do %>
              <i class="icon-group"></i><span>Καθηγητες</span>
          <% end %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'archives' %>">
          <%= link_to '#' do %>
              <i class="icon-archive"></i><span>Αρχειο</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
            <% if is_teacher_helper? %>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Επιλογές</span> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Dashboard', teacher_dashboard_path %></li>
                    <li><%= link_to 'Επισκόπηση των θεμάτων μου', teacher_projects_path(current_user.teacher.id) %></li>
                    <li><%= link_to 'Προσθήκη νέου θέματος', add_project_path %></li>
                  </ul>
                </li>
             <% end %>
        <% end %>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>