<% if Project.where(teacher_id: current_user.teacher, status: ['active', 'pending']).count >= 10 %>
    <div class="row">
      <div class="span12">
        <div class="widget widget-nopad">
          <!-- /widget-header -->
          <div class="widget-content">
            <ul>
               <p>Έχετε τουλάχιστον 10 ανεβασμένες πτυχιακές στο σύνολο (διαθέσιμες / ενεργές).</p>
               <p>Για να προσθέσετε νέες πτυχιακή πρέπει να ολοκληρωθεί ή να διαγραφεί κάποια απο τις υπάρχουσες.</p>
            </ul>
          </div>
        </div>
      </div>
    </div>

<% else %>
<div class="row">
  <div class="span12">
    <div class="widget widget-nopad">
      <div class="widget-header"><i class="icon-list-alt"></i>
        <h3> Προσθήκη νέας πτυχιακής </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <br/>
        <%= form_for @project, url: projects_path(@project) , html: {id: "new-project", class: "form-horizontal"} do |project| %>
            <% if @project.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@project.errors.count, "πρόβλημα","προβλήματα") %> απαγόρευσαν αυτό το θέμα να σωθεί:</h2>

                  <ul>
                    <% @project.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <fieldset>


              <div class="control-group">
                <%= project.label :title , class: "control-label"  %>
                <div class="controls">
                  <%= project.text_field :title, class: 'span6' %><br/>
                </div>
              </div>
              <div class="control-group">
                <%= project.label :description , class: "control-label"  %>
                <div class="controls">
                  <%= project.cktext_area :description, :ckeditor => {:language => 'el-GR', :toolbar => 'mini'} %><br/>
                </div>
              </div>
                  <div class="control-group">
                    <%= project.label :skills_required , class: "control-label"  %>
                    <div class="controls">
                      <%= project.text_field :skills_required %><br/>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= project.label :keywords, class: "control-label" %>
                    <div class="controls">
                      <%= project.text_field :keywords %><br/>
                    </div>
                  </div>

              <div class="form-actions right">
                <%= project.submit "Αποθηκευση", class: "btn btn-primary" %>
              </div>
            </fieldset>
        <% end %>

      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->
  </div>

  <!-- /span6 -->
</div>
<!-- /row -->

<br/>
<br/>

<% end %>
