<% content_for :javascripts do %>
    <%= javascript_include_tag 'chosen.jquery.js','plugins/chosen/prism.js','plugins/chosen/chosen-configs' %>
<% end %>
<div class="row">
  <div class="span6">
    <div class="widget">
      <div class="widget-header"> <i class="icon-file"></i>
        <h3> Εκδήλωσαν ενδιαφέρον</h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <ul class="messages_layout">

       <% @pendingProjectsCurrentTeacher.each do |d| %>

        <li class="from_user">
            <div class="message_wrap"> <span class="arrow"></span>
              <div class="info"><%= link_to d.title, project_path(d), class: "name" %>
                <%= render partial: 'share/thesis2/plugins/options_arrow', locals: {project: d,
                                                                                    deleteStudents: true,
                                                                                    deleteProject: true} %>
              </div>
              <div class="text">
                <span> <%= plural_students_expressed_interest(d,false,true,
                                                              t('student.project.dashboard.singular.expression_of_Interest'),
                                                              t('student.project.dashboard.plural.expression_of_Interest')) %></span>

                <% if d.project_assignments.count != 0 %>
                    <p><%= form_for d.project_assignments.build, url: project_assigning_path(d) do |f| %>
                        <%= f.select :student_id, d.project_assignments.all.collect {|h| ["#{h.student.user.last_name} #{h.student.user.first_name}",h.student_id] },
                                     {},
                                     {class: 'chosen-select', multiple: true, tabindex: '4'} %>
                        <%= f.submit 'Ανάθεση', data: {confirm: t('data.confirm.assignment_confirmation')} %>
                    <% end %>
                <% end %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
      <!-- /widget-content -->
    </div>
  </div>

  <div class="span6">
    <div class="widget">
      <div class="widget-header"> <i class="icon-file"></i>
        <h3> Ενεργές πτυχιακές </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <ul class="messages_layout">

          <% if @activeProjectsOfCurrentTeacher.count == 0 %>
              <li class="fc-content-center">Δεν υπάρχουν αποτελέσματα.</li>
          <% else %>
               <% @activeProjectsOfCurrentTeacher.each do |d| %>

              <li class="from_user">
                <div class="message_wrap"> <span class="arrow"></span>
                  <div class="info"><%= link_to d.title, project_path(d), class: "name" %><span class="time">2 Days ago</span>
                    <%= render partial: 'share/thesis2/plugins/options_arrow', locals: {project: d,
                                                                                        archive: true,
                                                                                        changingStudent: true,
                                                                                        prolongation: true } %>
                  </div>
                  <div class="text">
                    <% students = project_assignment_result(d,true) %>
                    <span> <%= t('student.project.dashboard.plural.given_to_the_students') if students.count > 1  %>
                           <%= t('student.project.dashboard.singular.given_to_the_student') if students.count == 1  %>
                    </span>
                    <p>
                      <% students.each do |h| %>
                          <% if students.count == 1 %>
                              <%= students_list(h.student,true) %>
                          <% else %>
                              <%= students_list(h.student,true) %>
                          <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </li>
          <% end %>
          <% end %>

        </ul>
      </div>
      <!-- /widget-content -->
    </div>
  </div>
</div>