<div class="row">

  <div class="span12">
    <div class="widget widget-nopad">
      <div class="widget-header"> <i class="icon-list-alt"></i>
        <h3> Επεξεργασία στοιχείων </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <br/>
        <%= form_for @user, url: user_path(@user) , html: {id: 'edit-profile', class: 'form-horizontal'} do |user| %>
            <fieldset>

              <div class="control-group">
                <%= user.label :first_name,t('users.first_name'), class: 'control-label' %>
                <div class="controls">
                  <%= user.text_field :first_name %><br/>
                </div>
              </div>
              <div class="control-group">
                <%= user.label :last_name, t('users.last_name'), class: 'control-label' %>
                <div class="controls">
                  <%= user.text_field :last_name %><br/>
                </div>
              </div>
              <div class="control-group">
                <%= user.label :email, t('users.email_communication'), class: 'control-label required' %>
                <div class="controls">
                  <%= user.email_field :email, required: 'requires' %>
                </div>
              </div>
            <%= user.fields_for :teacher do |s|  %>
                  <div class="control-group">
                    <%= s.label :department, t('users.department'), class: 'control-label required' %>
                    <div class="controls">
                    <%= s.select :department,[['Μηχανικών πληροφορικής Τ.Ε','Μηχανικών πληροφορικής Τ.Ε']],
                                 {prompt: 'Επιλέξτε τμήμα'},
                                 {class: 'form-control', required: 'requires', width: 3 }%><br/>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= s.label :phone, t('users.phone'), class: 'control-label' %>
                    <div class="controls">
                        <%= s.text_field :phone, maxlength: 10 %><br/>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= s.label :grade, t('users.grade'), class: 'control-label' %>
                    <div class="controls">
                    <%= s.text_field :grade %><br/>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= s.label :dissertation_number, 'Μέγιστο πλήθος πτυχιακών', class: 'control-label' %>
                    <div class="controls">
                      <%= s.select :dissertation_number, options_for_select(@numberOfAll < 10 ? 10 : @numberOfAll..30,@user.teacher.dissertation_number) %><br/>
                    </div>
                  </div>

            <% end %>

              <div class="form-actions right">
                <%= user.submit t('options.save'), class: 'btn btn-primary' %>
              </div>
              </fieldset>
        <% end %>
      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->
  </div>
  <!-- /span6 -->
</div>
<!-- /row -->

<br/>
<br/>

