<% provide(:title, "Home") %>
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>ThesisCs | Σύστημα διαχείρισης πτυχιακών εργασιών</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <%= javascript_include_tag 'static-pages/jquery.min.js' %>

  <%= yield :javascripts %><!-- Stylesheets for specific page -->

  <!-- Custom Theme files -->
  <%= stylesheet_link_tag 'static-pages/bootstrap',
                          'static-pages/theme-style' %>
  <%= yield :stylesheets %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' rel='stylesheet' type='text/css'>		<!----//webfonts---->
  <script>
      $(function() {
          var pull 		= $('#pull');
          menu 		= $('nav ul');
          menuHeight	= menu.height();
          $(pull).on('click', function(e) {
              e.preventDefault();
              menu.slideToggle();
          });
          $(window).resize(function(){
              var w = $(window).width();
              if(w > 320 && menu.is(':hidden')) {
                  menu.removeAttr('style');
              }
          });
      });
  </script>
</head>
<body>
<!----start-container---->
<!----start-header---->
<div id="home" class="header">
  <div class="container">
    <!----start-logo---->
    <div class="logo">
      <%= link_to( image_tag('static-pages/logo.png')) %>
    </div>
    <!--top-nav-->
    <nav class="top-nav">
      <ul class="top-nav">
        <li class="active"><a href="#home">Αρχική</a> <span> </span></li>
        <li class="page-scroll"><a href="#signin">Σύνδεση</a><span> </span></li>
        <li class="page-scroll"><a href="#usefull">Χρήσιμα</a><span> </span></li>
      </ul>
      <%= link_to '', '', id: 'pull'  %>
    </nav>
    <!--//top-nav-->
    <!----//End-logo---->
  </div>

</div>
<!----//End-header---->
<!----start-slider---->
<div class="slider">
  <!-- Slideshow 3 -->
  <%= javascript_include_tag 'static-pages/responsiveslides.min.js' %>
  <script>
      // You can also use "$(window).load(function() {"
      $(function () {
          // Slideshow 3
          $("#slider3").responsiveSlides({
              manualControls: '#slider3-pager'
          });
      });
  </script>
  <ul class="rslides" id="slider3">
    <li>
      <div class="col-md-10 divice-info">
        <div class="clearfix"> </div>
        <div class="divice-info-text">
          <h2> Για τους φοιτητές</h2>
          <p>Τώρα μπορείτε να αναζητήσετε και να διαλέξετε το θέμα της πτυχιακής σας εργασίας
            ανάμεσα σε δεκάδες πτυχιακές που αναρτούν οι καθηγητές.</p>
          <a class="btn" href="#signin"> Συνδεθείτε</a>
        </div>
      </div>
    </li>
    <li>
      <div class="col-md-10 divice-info">
        <div class="clearfix"> </div>
        <div class="divice-info-text">
          <h2> Για τους καθηγητές</h2>
          <p>Αναρτήστε και διαχειριστείτε εύκολα τα θέματα των πτυχιακών σας.</p>
          <a class="btn" href="#signin"> Συνδεθείτε</a>
        </div>
      </div>
    </li>

  </ul>
  <!-- Slideshow 3 Pager -->
  <!--<ul id="slider3-pager">
   <li> <%= link_to 'Φοιτητές | '  %></li>
   <li> <%= link_to 'Καθηγητές' %></li>
  </ul>-->
  <div class="clearfix"> </div>
</div>
<!----//End-slider---->

<!---- start-about---->
<div id="signin" class="about text-center">
  <div class="container">
    <div class="signin-info">
      <p class="notice"><%= render 'share/thesis2/plugins/flash_messages' %></p>

      <h3><span>Σύνδεση στο </span> ThesisCs</h3>
      <p>Δεν απαιτείται εγγραφή.<br/>
        Η σύνδεση γίνεται μέσω LDAP με τον λογαριασμό σας στο ΤΕΙ όπως ακριβώς και στο e-class.</p>
      <i> </i>
      <%= form_for( resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, placeholder: 'Email (cs0000@teilar.gr)' %>

            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>

          <div class="actions">
            <%= f.submit "Σύνδεση" %>
          </div>
      <% end %>
    </div>
    <div>
        <%= link_to 'Δεν μπορώ να συνδεθώ', faq_path(anchor: 'faq-1') %>
    </div>
  </div>
</div>
<!----//End-about---->


<!----start-services---->

<div id="usefull" class="services">
  <h4>Σχετικά με το ThesisCs</h4>
  <div id="horizontalTab">
      <div class="tab">
        <div class="container">
          <div class="tab-info">
            <div class="col-md-4 tab-divice-info">
              <h3>Συχνές ερωτήσεις FAQ</h3>
              <p>Κάποιες από τις ερωτήσεις σας έχουν ήδη απαντηθεί...</br></br>
               <%= link_to 'Δείτε στις συχνές ερωτήσεις.', faq_path  %> </p>
            </div>
            <div class="col-md-4 tab-divice-info">
              <h3>Σύνδεση χρηστών με LDAP</h3>
              <p>Δεν απαιτείται εγγραφή στο σύστημα.</br>
                Η Σύνδεση γίνεται με τα στοιχεία που έχετε πάρει απο το ΤΕΙ</br>
                <%= link_to 'Σύνδεση χρηστών με LDAP', ldap_path %>
              </p>
            </div>
            <div class="col-md-4 tab-divice-info">
              <h3> Σχετικά με το ThesisCs</h3>
              <p>Λίγα λόγια για την δημιουργία του ThesisCs</br></br></br>
              <%= link_to 'Σκοπός της Δημιουργίας', about_path %>
              </p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'static-pages/easyResponsiveTabs.js' %>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
              type: 'default', //Types: default, vertical, accordion
              width: 'auto', //auto or any width like 600px
              fit: true,   // 100% fit in a container
              closed: 'accordion', // Start closed if in accordion view
              activate: function(event) { // Callback function if tab is switched
                  var $tab = $(this);
                  var $info = $('#tabInfo');
                  var $name = $('span', $info);

                  $name.text($tab.text());

                  $info.show();
              }
          });

          $('#verticalTab').easyResponsiveTabs({
              type: 'vertical',
              width: 'auto',
              fit: true
          });
      });
  </script>
</div>
<!----//End-services---->


<!----start-footer---->
<div class="footer">
  <p> 2015 © thesiscs.teilar.gr </p>
  <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
  <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!----//End-footer---->
<!----//End-container---->
<!---- start-smoth-scrolling---->
<script type="text/javascript">
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
<!---- start-smoth-scrolling---->
</body>
</html>

